* {
  margin: 0;
  padding: 0;
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

li,
ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#wrap {
  width: 100%;
  height: 100%;
  position: relative;
}
#wrap #top_scroll {
  width: 450px;
  height: 56px;
  border-radius: 25px;
  background-color: black;
  display: flex;
  align-self: center;
  justify-content: center;
  position: fixed;
  top: 92%;
  left: 38.2%;
  z-index: 100;
  box-sizing: content-box;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.16), 4px 8px 28px rgba(0, 0, 0, 0.08);
}
#wrap #top_scroll a {
  color: #fff;
  font-size: 16px;
  line-height: 55px;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
header div {
  width: 200px;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
header div img {
  width: 30%;
  height: 35%;
}
header ul {
  width: 450px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 20px;
}
header li {
  cursor: pointer;
}
header li:nth-of-type(4) {
  background-color: black;
  width: 80px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
}
header li:nth-of-type(4) a {
  color: white;
}

#main_slide {
  width: 100%;
  height: 820px;
  background-color: yellow;
  margin: 0 auto;
  position: relative;
  background: linear-gradient(#f8faff 67.5%, #f0f4ff 0);
}
#main_slide #main_box {
  width: 1200px;
  height: 820px;
  margin: 0 auto;
}
#main_slide #main_box img {
  width: 770px;
  height: 590px;
  position: absolute;
  top: 17%;
  left: 40%;
}
#main_slide #main_box #main_h1_tag {
  position: absolute;
  top: 20%;
  left: 21%;
  padding-top: 80px;
  padding-left: 20px;
  transform: translateY(100px);
  transition: 2s;
  opacity: 0;
}
#main_slide #main_box #main_h1_tag img {
  width: 350px;
  height: 210px;
  padding-top: 70px;
}
#main_slide #main_box #PTagimg {
  width: 180px;
  height: 45px;
  position: absolute;
  top: 83%;
  left: 22%;
  transform: translateY(100px);
  transition: 4s;
  opacity: 0;
}

#platform {
  width: 100%;
  height: 800px;
  background-color: #ffeb60;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 80px 0 70px;
}
#platform h2 {
  text-align: center;
  font-size: 49px;
  color: #242424;
  transform: translateY(100px);
  transition: 2s;
  opacity: 0;
}
#platform #platform_top_p {
  font-size: 22px;
  color: #555;
  width: 100%;
  text-align: center;
  line-height: -160%;
  transform: translateY(100px);
  transition: 2s;
  opacity: 0;
}
#platform #form_box1 {
  width: 790px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  padding-bottom: 32px;
  margin: 59px auto 0;
}
#platform #form_box1 li {
  background-color: #fff;
  border-radius: 20px;
  padding: 32px;
}
#platform #form_box1 li div {
  width: 100%;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
#platform #form_box1 li p {
  width: 100%;
  font-size: 14px;
  color: #555;
}
#platform #form_box1 li img {
  width: 35px;
  height: 35px;
}
#platform #form_box1 li span {
  font-weight: 700;
}
#platform #form_box2 {
  background-color: #ffe06b;
  width: 744px;
  position: relative;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  padding: 20px 26px 16px;
}
#platform #form_box2 li {
  font-size: 12px;
  color: #aa8525;
}
#platform #form_box2 .list_style:nth-of-type(1):before {
  position: absolute;
  top: 28px;
  left: 15px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #aa8525;
  content: "";
}
#platform #form_box2 .list_style:nth-of-type(2):before {
  position: absolute;
  top: 28px;
  left: 390px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #aa8525;
  content: "";
}
#platform #form_box2 .list_style:nth-of-type(3):before {
  position: absolute;
  top: 49px;
  left: 15px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #aa8525;
  content: "";
}
#platform #form_box2 .list_style:nth-of-type(4):before {
  position: absolute;
  top: 49px;
  left: 390px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #aa8525;
  content: "";
}

#book_Page {
  width: 100%;
  height: 1050px;
  background-color: #fff;
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#book_Page #title_box {
  width: 100%;
  height: 240px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateY(100px);
  transition: 2s;
  opacity: 0;
}
#book_Page #title_box h2 {
  font-size: 49px;
  color: #242424;
  text-align: center;
}
#book_Page #title_box p {
  font-size: 22px;
  color: #555;
  text-align: center;
}
#book_Page #book_img_box {
  width: 100%;
  height: 700px;
  background-color: #fff;
  padding: 40px 0px;
  overflow: hidden;
}
#book_Page #book_img_box .book_list1 {
  position: 40px 20px;
  background-image: url(../img/book_list1.png);
  width: 100%;
  height: 250px;
  background-repeat: repeat-x;
  animation: Right 200s linear infinite;
}
#book_Page #book_img_box .book_list2 {
  position: 40px 20px;
  background-image: url(../img/book_list2.png);
  width: 100%;
  height: 250px;
  background-repeat: repeat-x;
  animation: Left 200s linear infinite;
}
#book_Page #book_img_box .book_list3 {
  position: 40px 20px;
  background-image: url(../img/book_list3.png);
  width: 100%;
  height: 250px;
  background-repeat: repeat-x;
  animation: Right 200s linear infinite;
}

@keyframes Right {
  0% {
    background-position: 0, 0;
  }
  100% {
    background-position: -10000px, 0;
  }
}
@keyframes Left {
  0% {
    background-position: 0, 0;
  }
  100% {
    background-position: 10000px, 0;
  }
}
#video_Page {
  width: 100%;
  height: 660px;
  padding: 80px 0 120px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#video_Page h2 {
  width: 100%;
  color: #242424;
  font-size: 49px;
  margin: 0 0 24px 0;
  text-align: center;
  transform: translateY(100px);
  transition: 2s;
  opacity: 0;
}
#video_Page p {
  width: 100%;
  color: #555;
  font-size: 22px;
  text-align: center;
  padding-bottom: 50px;
  transform: translateY(100px);
  transition: 2s;
  opacity: 0;
}
#video_Page #video_box {
  width: 730px;
  height: 410px;
}
#video_Page #video_box video {
  width: 100%;
  height: 100%;
}

#best_seller {
  width: 100%;
  height: 2200px;
  background-color: #fff;
  padding: 80px 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#best_seller #text_box {
  transform: translateY(100px);
  transition: 2s;
  opacity: 0;
}
#best_seller #text_box h2 {
  text-align: center;
  color: #242424;
  font-size: 49px;
  margin-bottom: 24px;
}
#best_seller #text_box p {
  text-align: center;
  color: #555;
  font-size: 22px;
}
#best_seller .str {
  margin: 16px 0;
  padding: 24px 0;
}
#best_seller .str strong {
  font-size: 20px;
}
#best_seller #seller_box {
  max-width: 1150px;
  margin: 0 auto;
}
#best_seller #seller_box .seller_list ul {
  display: flex;
  justify-content: center;
}
#best_seller #seller_box .seller_list li {
  width: 14.2%;
  padding: 16px 24px 0 0;
}
#best_seller #seller_box .seller_list li img {
  width: 100%;
  margin: 3px 0;
}
#best_seller #seller_box .seller_list li h3 {
  font-size: 16px;
  margin: 3px 0;
}
#best_seller #seller_box .seller_list li p {
  color: #6f6f6f;
  font-size: 14px;
  margin: 3px 0;
}

#challenge_Page {
  width: 100%;
  height: 1350px;
  background-color: #f7f7f7;
  padding: 80px 0;
}
#challenge_Page h2 {
  font-size: 49px;
  color: #242424;
  text-align: center;
  margin: 24px 0;
  transform: translateY(100px);
  transition: 2s;
  opacity: 0;
}
#challenge_Page p {
  font-size: 22px;
  color: #555;
  margin: 24px 0;
  text-align: center;
  transform: translateY(100px);
  transition: 2s;
  opacity: 0;
}
#challenge_Page #challenge_box {
  width: 1060px;
  height: 568px;
  margin: 80px auto 0;
  position: relative;
  background-image: url(../img/challenge.png);
  background-size: cover;
  background-position: center;
}
#challenge_Page #challenge_box h2 {
  font-size: 40px;
  color: #171717;
  text-align: center;
  padding: 48px 0 0;
}
#challenge_Page #challenge_box p {
  font-size: 21px;
  color: #333;
  text-align: center;
}
#challenge_Page #life {
  width: 1090px;
  height: 450px;
  margin: 30px auto;
}
#challenge_Page #life ul {
  display: flex;
  justify-content: space-around;
}
#challenge_Page #life ul li:nth-of-type(1) {
  background-image: url(../img/challenge2.png);
}
#challenge_Page #life ul li:nth-of-type(2) {
  background-image: url(../img/challenge3.png);
}
#challenge_Page #life ul li:nth-of-type(3) {
  background-image: url(../img/challenge4.png);
}
#challenge_Page #life ul li {
  width: 33%;
  height: 410px;
  border-radius: 20px;
  background-color: #ddd;
  margin: 0 15px;
  background-position: center;
  background-size: cover;
}

#book_menu_list_page {
  width: 100%;
  height: 700px;
  background-color: #fff;
  padding: 80px 0;
}
#book_menu_list_page h2 {
  font-size: 49px;
  color: #242424;
  margin: 24px 0;
  text-align: center;
  transform: translateY(100px);
  transition: 2s;
  opacity: 0;
}
#book_menu_list_page p {
  font-size: 22px;
  color: #555;
  text-align: center;
  transform: translateY(100px);
  transition: 2s;
  opacity: 0;
}
#book_menu_list_page #book_menu_list {
  width: 1200px;
  margin: 80px auto 0;
}
#book_menu_list_page #book_menu_list #menu_button {
  display: flex;
  width: 400px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
#book_menu_list_page #book_menu_list #menu_button li {
  width: 20%;
  height: 30px;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  margin-right: 8px;
  font-size: 14px;
  line-height: 30px;
  color: #242424;
  cursor: pointer;
  font-weight: 600;
}
#book_menu_list_page #book_menu_list #menu_button li:hover, #book_menu_list_page #book_menu_list #menu_button li.act {
  color: white;
  background-color: black;
}
#book_menu_list_page #book_menu_list #book_list_box {
  height: 327px;
  margin: 40px 0;
  position: relative;
}
#book_menu_list_page #book_menu_list #book_list_box .book_menu_box:nth-of-type(5), #book_menu_list_page #book_menu_list #book_list_box .book_menu_box:nth-of-type(2), #book_menu_list_page #book_menu_list #book_list_box .book_menu_box:nth-of-type(3), #book_menu_list_page #book_menu_list #book_list_box .book_menu_box:nth-of-type(4) {
  display: none;
}
#book_menu_list_page #book_menu_list #book_list_box ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 327px;
  position: absolute;
}
#book_menu_list_page #book_menu_list #book_list_box ul li {
  width: 14.2%;
  margin-right: 15px;
}
#book_menu_list_page #book_menu_list #book_list_box ul li h3 {
  font-size: 16px;
  color: #242424;
  margin: 0 0 5px;
}
#book_menu_list_page #book_menu_list #book_list_box ul li p {
  font-size: 14px;
  color: #171717;
  text-align: left;
}
#book_menu_list_page #book_menu_list #book_list_box ul li img {
  width: 100%;
}

#book_pic_Page {
  max-width: 1440px;
  height: 730px;
  background-color: #f7f7f7;
  padding: 80px 0 0 0;
}
#book_pic_Page h2 {
  font-size: 49px;
  color: #242424;
  text-align: center;
  margin: 0px 0 24px;
  transform: translateY(100px);
  transition: 2s;
  opacity: 0;
}
#book_pic_Page p {
  font-size: 22px;
  color: #555;
  text-align: center;
  transform: translateY(100px);
  transition: 2s;
  opacity: 0;
}
#book_pic_Page #pic_box {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
}
#book_pic_Page #pic_box img {
  width: 410px;
  height: 502px;
  margin: 0 auto;
}
#book_pic_Page #pic_box .pic_img {
  position: absolute;
  width: 170px;
  height: 170px;
}
#book_pic_Page #pic_box .pic_img:nth-of-type(2) {
  top: 260px;
  left: 215px;
}
#book_pic_Page #pic_box .pic_img:nth-of-type(3) {
  top: 75px;
  left: 285px;
}
#book_pic_Page #pic_box .pic_img:nth-of-type(4) {
  top: 75px;
  left: 980px;
}
#book_pic_Page #pic_box .pic_img:nth-of-type(5) {
  top: 260px;
  left: 1050px;
}
#book_pic_Page #pic_box .pic_img:nth-of-type(6) {
  top: 250px;
  left: 510px;
  width: 417px;
  height: 152px;
}

#Mony_Page {
  width: 100% px;
  height: 770px;
  background-color: #FFEB60;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#Mony_Page #Mony_H {
  color: #242424;
  font-size: 49px;
  text-align: center;
  margin: 32px 0 0 0;
  transform: translateY(100px);
  transition: 2s;
  opacity: 0;
}
#Mony_Page #Mony_P {
  color: #555;
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  margin: 32px 0 80px 0;
  transform: translateY(100px);
  transition: 2s;
  opacity: 0;
}
#Mony_Page #Mony_box {
  width: 100%;
  height: 310px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 0 0px;
}
#Mony_Page #Mony_box .Mony_list {
  width: 255px;
  height: 250px;
  background-color: #fff;
  border-radius: 20px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  padding: 32px;
}
#Mony_Page #Mony_box .Mony_list strong {
  font-size: 20px;
  color: #242424;
}
#Mony_Page #Mony_box .Mony_list p {
  font-size: 40px;
  color: #242424;
  font-family: SpoqaHanSansNeo, Apple SD Gothic Neo, Malgun Gothic, sans-serif;
  font-weight: 900;
  margin: 5px 0;
}
#Mony_Page #Mony_box .Mony_list p span {
  font-size: 24px;
  color: #242424;
  font-weight: 300;
}
#Mony_Page #Mony_box .Mony_list .Mony300 {
  font-weight: 300;
  font-size: 20px;
  color: #6f6f6f;
  display: flex;
  padding-left: 20px;
  align-items: center;
  text-decoration: line-through;
}
#Mony_Page #Mony_box .Mony_list .Mony300 img {
  width: 60px;
  height: 30px;
  margin-left: 10px;
}
#Mony_Page #Mony_box .Mony_list #Mony_box_P {
  font-size: 14px;
  color: #6F6F6F;
}
#Mony_Page #Mony_box #Mony_list_box {
  width: 327px;
  height: 309px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Mony_Page #Mony_box #Mony_list_box p {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #242424;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 20px;
}
#Mony_Page #Mony_box #Mony_list_box p img {
  width: 70px;
  height: 70px;
  margin-right: 25px;
}
#Mony_Page #Mony_box #Mony_list_box p:nth-of-type(1) {
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}

#audioviewer {
  width: 100%;
  height: 1150px;
  background-color: #f7f7f7;
  position: relative;
}
#audioviewer #top_tab {
  width: 100%;
  height: 108px;
  background-color: #fff;
}
#audioviewer #top_tab ul {
  width: 1200px;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
#audioviewer #top_tab ul img {
  width: 25px;
  height: 25px;
  margin-bottom: 5px;
}
#audioviewer #top_tab ul li {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  font-weight: 900;
}
#audioviewer #top_tab ul li:hover, #audioviewer #top_tab ul li.choice {
  background-color: #f7f7f7;
}
#audioviewer .audio_wrap:nth-of-type(2) {
  display: none;
}
#audioviewer .audio_wrap {
  width: 1400px;
  height: 700px;
  position: relative;
  display: flex;
  margin: 0 auto;
  padding: 60px 0px;
  flex-direction: column;
}
#audioviewer .audio_wrap .audio_icon {
  width: 40px;
  height: 40px;
  margin: 32px 0;
  padding-left: 120px;
}
#audioviewer .audio_wrap h2 {
  width: 80%;
  height: 100px;
  font-size: 49px;
  color: #242424;
  padding-left: 120px;
  font-weight: 700;
  transform: translateY(100px);
  transition: 2s;
  opacity: 0;
}
#audioviewer .audio_wrap .audio_tag_p {
  width: 80%;
  height: 100px;
  font-size: 22px;
  color: #555;
  padding-left: 120px;
  transform: translateY(100px);
  transition: 2s;
  opacity: 0;
}
#audioviewer .audio_wrap .swiper {
  width: 320px;
  height: 650px;
  position: absolute;
  top: 100px;
  left: 950px;
  overflow: hidden;
}
#audioviewer .audio_wrap .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  transform: translateY(100px);
  transition: 2s;
  opacity: 0;
}
#audioviewer .audio_wrap .swiper .swiper-slide img {
  display: block;
  width: 90%;
  height: 95%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
#audioviewer .audio_wrap .swiper .swiper-slide video {
  width: 90%;
  height: 95%;
  border-radius: 32px;
  box-sizing: border-box;
}
#audioviewer .audio_wrap #slide_box {
  width: 50%;
  margin-top: 167px;
  margin-left: 121px;
}
#audioviewer .audio_wrap #slide_box p {
  font-size: 22px;
  font-weight: 500;
}
#audioviewer .audio_wrap #slide_box p b {
  font-size: 22px;
  color: #242424;
  font-weight: 700;
}
#audioviewer .audio_wrap .swiper-pagination {
  position: absolute;
  top: 620px;
  left: 75px;
  height: 30px;
  width: 300px;
}
#audioviewer .audio_wrap .swiper-pagination2 {
  position: absolute;
  top: 620px;
  left: 115px;
  height: 30px;
  width: 300px;
}
#audioviewer .audio_wrap .swiper-pagination-bullet, #audioviewer .audio_wrap .swiper-pagination-bullet2 {
  width: 45px;
  height: 26px;
  text-align: center;
  line-height: 25px;
  font-size: 14px;
  color: #fff;
  opacity: 1;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.2);
}
#audioviewer .audio_wrap .swiper-pagination-bullet-active, #audioviewer .audio_wrap .swiper-pagination-bullet-active2 {
  color: #fff;
  background: #242424;
}

#advertisement_Page {
  width: 100%;
  height: 500px;
  background-image: url(../img/advertisement.png);
}
#advertisement_Page #advertisement_box {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#advertisement_Page #advertisement_box .advertisement_box_list {
  width: 500px;
  height: 335px;
  position: relative;
  padding: 70px 0 0;
  margin-left: 170px;
}
#advertisement_Page #advertisement_box .advertisement_box_list:nth-of-type(2) {
  transform: translateY(100px);
  transition: 2s;
  opacity: 0;
}
#advertisement_Page #advertisement_box .advertisement_box_list #QAVideo {
  width: 83%;
  height: 100%;
  position: absolute;
  top: -52px;
  left: -16px;
}
#advertisement_Page #advertisement_box .advertisement_box_list h2 {
  font-size: 49px;
  color: #242424;
}
#advertisement_Page #advertisement_box .advertisement_box_list p {
  font-size: 22px;
  color: #555;
  line-height: 160%;
  margin-top: 35px;
  font-weight: 600;
}

#QA_Page {
  width: 100%;
  height: 100%;
  background-color: #FFEB60;
}
#QA_Page #QA_box {
  width: 100%;
  margin: 0 auto;
  padding: 80px 0;
}
#QA_Page #QA_box h2 {
  font-size: 49px;
  color: #242424;
  text-align: center;
}
#QA_Page #QA_box #QA_list_box {
  max-width: 920px;
  margin: 65px auto 0;
}
#QA_Page #QA_box #QA_list_box ul {
  width: 920px;
}
#QA_Page #QA_box #QA_list_box ul li {
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 15px;
  font-weight: 700;
  padding: 14px 24px 1px;
}
#QA_Page #QA_box #QA_list_box ul li p {
  padding-bottom: 16px;
  width: 100%;
  font-size: 20px;
  color: #242424;
  position: relative;
}
#QA_Page #QA_box #QA_list_box ul li p img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  top: 5%;
  left: 97%;
}
#QA_Page #QA_box #QA_list_box ul li .QA_icon.active {
  transform: rotate(180deg);
}
#QA_Page #QA_box #QA_list_box ul li ul {
  width: 100%;
  border-top: 1px solid black;
  padding: 16px 0;
  display: none;
}
#QA_Page #QA_box #QA_list_box ul li ul li {
  width: 90%;
  color: #555;
  font-size: 16px;
  padding: 4px 0 0;
  margin: 0 0;
}
#QA_Page #QA_box #QA_list_box ul li ul li b {
  padding: 0 0;
}

footer {
  width: 100%;
  height: 250px;
  background-color: #fff;
}
footer #footer_box {
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px 16px 34px;
}
footer #footer_box #footer_box_top {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer #footer_box #footer_box_top h1 {
  font-size: 16px;
  color: #242424;
  font-weight: 700;
}
footer #footer_box #footer_box_top a img {
  width: 30px;
  height: 30px;
}
footer button {
  font-size: 10px;
  color: #a5a5a5;
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}
footer button img {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}
footer #footer_btn_UP {
  display: none;
}
footer #footer_btn_UP button {
  font-size: 10px;
  color: #a5a5a5;
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}
footer #footer_btn_UP button img {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}
footer #footer_btn_UP ul {
  display: flex;
}
footer #footer_btn_UP ul li {
  font-size: 10px;
  color: #a5a5a5;
  margin-right: 10px;
}
footer #footer_btn_UP #footer_ul_last {
  margin-top: 15px;
}
footer .foot_bottom ul {
  display: flex;
}
footer .foot_bottom ul li {
  font-size: 12px;
  color: #6f6f6f;
  display: flex;
  align-items: center;
  margin-right: 15px;
}
footer .foot_bottom ul li img {
  width: 10px;
  height: 10px;
}
footer .foot_bottom ul li:nth-of-type(2) {
  font-weight: 700;
}
footer p {
  font-size: 10px;
  color: #6f6f6f;
  margin-top: 20px;
}