* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

li,
ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
header div {
  width: 200px;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
header div img {
  width: 30%;
  height: 35%;
}
header ul {
  width: 450px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 20px;
}
header li {
  cursor: pointer;
}
header li:nth-of-type(4) {
  background-color: black;
  width: 80px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
}
header li:nth-of-type(4) a {
  color: white;
}

#main_slide {
  width: 100%;
  height: 820px;
  background-color: yellow;
  margin: 0 auto;
  position: relative;
  background: linear-gradient(#f8faff 67.5%, #f0f4ff 0);
}
#main_slide #main_box {
  width: 1200px;
  height: 820px;
  margin: 0 auto;
}
#main_slide #main_box img {
  width: 770px;
  height: 590px;
  position: absolute;
  top: 17%;
  left: 40%;
}
#main_slide #main_box h1 {
  position: absolute;
  top: 7%;
  left: 21%;
  padding-top: 80px;
  padding-left: 20px;
}
#main_slide #main_box h1 img {
  width: 350px;
  height: 210px;
  padding-top: 70px;
}
#main_slide #main_box #PTagimg {
  width: 180px;
  height: 45px;
  position: absolute;
  top: 83%;
  left: 22%;
}

#platform {
  width: 100%;
  height: 800px;
  background-color: #ffeb60;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 80px 0 70px;
}
#platform h2 {
  text-align: center;
  font-size: 49px;
  color: #242424;
}
#platform #platform_top_p {
  font-size: 22px;
  color: #555;
  width: 100%;
  text-align: center;
  line-height: -160%;
}
#platform #form_box1 {
  width: 790px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  padding-bottom: 32px;
  margin: 59px auto 0;
}
#platform #form_box1 li {
  background-color: #fff;
  border-radius: 20px;
  padding: 32px;
}
#platform #form_box1 li div {
  width: 100%;
  font-size: 24px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
#platform #form_box1 li p {
  width: 100%;
  font-size: 14px;
  color: #555;
}
#platform #form_box1 li img {
  width: 35px;
  height: 35px;
}
#platform #form_box1 li span {
  font-weight: 700;
}
#platform #form_box2 {
  background-color: #ffe06b;
  width: 744px;
  position: relative;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  padding: 20px 26px 16px;
}
#platform #form_box2 li {
  font-size: 12px;
  color: #aa8525;
}
#platform #form_box2 .list_style:nth-of-type(1):before {
  position: absolute;
  top: 28px;
  left: 15px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #aa8525;
  content: "";
}
#platform #form_box2 .list_style:nth-of-type(2):before {
  position: absolute;
  top: 28px;
  left: 390px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #aa8525;
  content: "";
}
#platform #form_box2 .list_style:nth-of-type(3):before {
  position: absolute;
  top: 49px;
  left: 15px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #aa8525;
  content: "";
}
#platform #form_box2 .list_style:nth-of-type(4):before {
  position: absolute;
  top: 49px;
  left: 390px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #aa8525;
  content: "";
}

#book_Page {
  width: 100%;
  height: 1050px;
  background-color: #fff;
  padding: 80px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#book_Page #title_box {
  width: 100%;
  height: 240px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#book_Page #title_box h2 {
  font-size: 49px;
  color: #242424;
  text-align: center;
}
#book_Page #title_box p {
  font-size: 22px;
  color: #555;
  text-align: center;
}
#book_Page #book_img_box {
  width: 100%;
  height: 700px;
  background-color: #fff;
  padding: 40px 0px;
  overflow: hidden;
}
#book_Page #book_img_box .book_list1 {
  position: 40px 20px;
  background-image: url(../img/book_list1.png);
  width: 100%;
  height: 250px;
  background-repeat: repeat-x;
  animation: Right 200s linear infinite;
}
#book_Page #book_img_box .book_list2 {
  position: 40px 20px;
  background-image: url(../img/book_list2.png);
  width: 100%;
  height: 250px;
  background-repeat: repeat-x;
  animation: Left 200s linear infinite;
}
#book_Page #book_img_box .book_list3 {
  position: 40px 20px;
  background-image: url(../img/book_list3.png);
  width: 100%;
  height: 250px;
  background-repeat: repeat-x;
  animation: Right 200s linear infinite;
}

@keyframes Right {
  0% {
    background-position: 0, 0;
  }
  100% {
    background-position: -10000px, 0;
  }
}
@keyframes Left {
  0% {
    background-position: 0, 0;
  }
  100% {
    background-position: 10000px, 0;
  }
}
#video_Page {
  width: 100%;
  height: 660px;
  padding: 80px 0 120px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#video_Page h2 {
  width: 100%;
  color: #242424;
  font-size: 49px;
  margin: 0 0 24px 0;
  text-align: center;
}
#video_Page p {
  width: 100%;
  color: #555;
  font-size: 22px;
  text-align: center;
  padding-bottom: 50px;
}
#video_Page #video_box {
  width: 730px;
  height: 410px;
}
#video_Page #video_box video {
  width: 100%;
  height: 100%;
}

#best_seller {
  width: 100%;
  height: 2200px;
  background-color: #fff;
  padding: 80px 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#best_seller #text_box h2 {
  text-align: center;
  color: #242424;
  font-size: 49px;
  margin-bottom: 24px;
}
#best_seller #text_box p {
  text-align: center;
  color: #555;
  font-size: 22px;
}
#best_seller .str {
  margin: 16px 0;
  padding: 24px 0;
}
#best_seller .str strong {
  font-size: 20px;
}
#best_seller #seller_box {
  max-width: 1150px;
  margin: 0 auto;
}
#best_seller #seller_box .seller_list ul {
  display: flex;
  justify-content: center;
}
#best_seller #seller_box .seller_list li {
  width: 14.2%;
  padding: 16px 24px 0 0;
}
#best_seller #seller_box .seller_list li img {
  width: 100%;
  margin: 3px 0;
}
#best_seller #seller_box .seller_list li h3 {
  font-size: 16px;
  margin: 3px 0;
}
#best_seller #seller_box .seller_list li p {
  color: #6f6f6f;
  font-size: 14px;
  margin: 3px 0;
}

#challenge_Page {
  width: 100%;
  height: 1350px;
  background-color: #f7f7f7;
  padding: 80px 0;
}
#challenge_Page h2 {
  font-size: 49px;
  color: #242424;
  text-align: center;
  margin: 24px 0;
}
#challenge_Page p {
  font-size: 22px;
  color: #555;
  margin: 24px 0;
  text-align: center;
}
#challenge_Page #challenge_box {
  width: 1060px;
  height: 568px;
  margin: 80px auto 0;
  position: relative;
  background-image: url(../img/challenge.png);
  background-size: cover;
  background-position: center;
}
#challenge_Page #challenge_box h2 {
  font-size: 40px;
  color: #171717;
  text-align: center;
  padding: 48px 0 0;
}
#challenge_Page #challenge_box p {
  font-size: 21px;
  color: #333;
  text-align: center;
}
#challenge_Page #life {
  width: 1090px;
  height: 450px;
  margin: 30px auto;
}
#challenge_Page #life ul {
  display: flex;
  justify-content: space-around;
}
#challenge_Page #life ul li:nth-of-type(1) {
  background-image: url(../img/challenge2.png);
}
#challenge_Page #life ul li:nth-of-type(2) {
  background-image: url(../img/challenge3.png);
}
#challenge_Page #life ul li:nth-of-type(3) {
  background-image: url(../img/challenge4.png);
}
#challenge_Page #life ul li {
  width: 33%;
  height: 410px;
  border-radius: 20px;
  background-color: #ddd;
  margin: 0 15px;
  background-position: center;
  background-size: cover;
}

#book_menu_list_page {
  width: 100%;
  height: 700px;
  background-color: #fff;
  padding: 80px 0;
}
#book_menu_list_page h2 {
  font-size: 49px;
  color: #242424;
  margin: 24px 0;
  text-align: center;
}
#book_menu_list_page p {
  font-size: 22px;
  color: #555;
  text-align: center;
}
#book_menu_list_page #book_menu_list {
  width: 1200px;
  margin: 80px auto 0;
}
#book_menu_list_page #book_menu_list #menu_button {
  display: flex;
  width: 400px;
  height: 50px;
  justify-content: center;
  align-items: center;
}
#book_menu_list_page #book_menu_list #menu_button li {
  width: 20%;
  height: 30px;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  margin-right: 8px;
  font-size: 14px;
  line-height: 30px;
  color: #242424;
  cursor: pointer;
  font-weight: 600;
}
#book_menu_list_page #book_menu_list #menu_button li:hover, #book_menu_list_page #book_menu_list #menu_button li.act {
  color: white;
  background-color: black;
}
#book_menu_list_page #book_menu_list #book_list_box {
  height: 327px;
  margin: 40px 0;
  position: relative;
}
#book_menu_list_page #book_menu_list #book_list_box .book_menu_box:nth-of-type(5), #book_menu_list_page #book_menu_list #book_list_box .book_menu_box:nth-of-type(2), #book_menu_list_page #book_menu_list #book_list_box .book_menu_box:nth-of-type(3), #book_menu_list_page #book_menu_list #book_list_box .book_menu_box:nth-of-type(4) {
  display: none;
}
#book_menu_list_page #book_menu_list #book_list_box ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 327px;
  position: absolute;
}
#book_menu_list_page #book_menu_list #book_list_box ul li {
  width: 14.2%;
  margin-right: 15px;
}
#book_menu_list_page #book_menu_list #book_list_box ul li h3 {
  font-size: 16px;
  color: #242424;
  margin: 0 0 5px;
}
#book_menu_list_page #book_menu_list #book_list_box ul li p {
  font-size: 14px;
  color: #171717;
  text-align: left;
}
#book_menu_list_page #book_menu_list #book_list_box ul li img {
  width: 100%;
}