#advertisement_Page{
    width: 100%;
    height: 500px;
    background-image: url(../img/advertisement.png);

    #advertisement_box{
        width: 1440px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        .advertisement_box_list{
            width: 500px;
            height: 335px;
            position: relative;
            padding: 70px 0 0;
            margin-left: 170px;
            
       

            #QAVideo{
                width: 83%;
                height: 100%;
                position: absolute;
                top: -52px;
                left: -16px;
            }

            h2{
                font-size: 49px;
                color: #242424;
               
            }

            p{
                font-size: 22px;
                color: #555;
                line-height: 160%;
                margin-top: 35px;
                font-weight: 600;
               
            }
        }

    }
}

