#audioviewer {
    width: 100%;
    height: 1150px;
    background-color: #f7f7f7;
    position: relative;


    #top_tab {
        width: 100%;
        height: 108px;
        background-color: #fff;


        ul {

            width: 1200px;
            height: 100%;
            display: flex;
            align-items: center;
            margin: 0 auto;

            img {
                width: 25px;
                height: 25px;
                margin-bottom: 5px;

            }

            li {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                cursor: pointer;
                font-weight: 900;

                &:hover, &.choice{background-color: #f7f7f7;}
            }
           
        }
    }

    .audio_wrap:nth-of-type(2){display: none;}

    .audio_wrap {
        width: 1400px;
        height: 700px;
        position: relative;
        display: flex;
        margin: 0 auto;
        padding: 60px 0px;
        flex-direction: column;

        .audio_icon {
            width: 40px;
            height: 40px;
            margin: 32px 0;
           padding-left: 90px;
        }

        h2 {
            width: 80%;
            height: 100px;
            font-size: 49px;
            color: #242424;
            padding-left: 90px;
        }

        p {
            width: 80%;
            height: 100px;
            font-size: 22px;
            color: #555;
            padding-left: 90px;
        }



        .swiper {
            width: 300px;
            height: 650px;
            position: absolute;
            top: 50px;
            left: 1000px;
            overflow: hidden;

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 25px;
          
            
        }

        .swiper-slide img {
            display: block;
            width: 90%;
            height: 95%;
            object-fit: cover;
            border-radius: 20px;
        }
        
        .swiper-slide video{
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }

    }


    #slide_box{
        width: 100%;
        margin-top: 150px;
        
       

        p{
           
            font-size: 22px;
            font-weight: 500;

            b{
            font-size: 22px;
            color: #242424;
            font-weight: 700;
           }
        }
    }

    .swiper-pagination{
        position: absolute;
        top:590px;
        left: 50px;
        height: 30px;
        width: 300px;
    }

    .swiper-pagination2{
        position: absolute;
        top:590px;
        left: 135px;
        height: 30px;
        width: 300px;
    }


  
    
    .swiper-pagination-bullet,.swiper-pagination-bullet2 {
        width: 45px;
        height: 26px;
        text-align: center;
        line-height: 25px;
        font-size: 14px;
        color: #fff;
        opacity: 1;
        border-radius: 15px;
        background: rgba(0, 0, 0, 0.2);
        
        
    }
    
    .swiper-pagination-bullet-active,.swiper-pagination-bullet-active2 {
        color: #fff;
      background: #242424;
    }

   

   }



}
