#book_Page {
    width: 100%;
    height: 1050px;
    background-color: #fff;
    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    #title_box {

        width: 100%;
        height: 240px;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: translateY(100px);
        transition: 2s;
        opacity: 0;


        h2 {
            font-size: 49px;
            color: #242424;
            text-align: center;
            

        }

        p {
            font-size: 22px;
            color: #555;
            text-align: center;
          
        }

    }

    #book_img_box {
        width: 100%;
        height: 700px;
        background-color: #fff;
        padding: 40px 0px;
        overflow: hidden;

        .book_list1{
            position: 40px 20px;
            background-image: url(../img/book_list1.png);
            width: 100%;
            height: 250px;
            background-repeat: repeat-x;
            animation:Right 200s linear infinite;
        }

            .book_list2{
                position: 40px 20px;
                background-image: url(../img/book_list2.png);
                width: 100%;
                height: 250px;
                background-repeat: repeat-x;
                animation:Left 200s linear infinite;
            }

            .book_list3{
                position: 40px 20px;
                background-image: url(../img/book_list3.png);
                width: 100%;
                height: 250px;
                background-repeat: repeat-x;
                animation:Right 200s linear infinite
            }


    }
}


// 애니메이션 키프레임

@keyframes Right {
    0%{
        background-position: 0,0;
    }
    100%{
        background-position: -10000px,0;
    }
}
    @keyframes Left {
        0%{
            background-position: 0,0;
        }
        100%{
            background-position: 10000px,0;
        }
   
    }


    


