#book_pic_Page{
    width: 100%;
    height: 730px;
    background-color: #f7f7f7;
    padding: 80px 0 0 0;

    h2{
        font-size: 49px;
        color: #242424;
        text-align: center;
        margin: 0px 0 24px;
    }

    p{
        font-size: 22px;
        color: #555;
        text-align: center;
    }

    #pic_box{
        width: 1440px;
        height: 500px;
        margin: 0 auto;
       display: flex;
       justify-content: center;
       align-items: end;
       position: relative;

        img{width: 410px; height: 502px; margin: 0 auto; }

        .pic_img{position: absolute;
                width: 170px;
                height: 170px;

            &:nth-of-type(2){ top: 260px; left: 215px;}
            &:nth-of-type(3){ top: 75px; left: 285px;}
            &:nth-of-type(4){ top: 75px; left: 980px;}
            &:nth-of-type(5){ top: 260px; left: 1050px;}
            &:nth-of-type(6){ top: 250px; left: 510px; width: 417px; height: 152px;}
        
        }
        
        
       
    }
}

