#book_menu_list_page {
    width: 100%;
    height: 700px;
    background-color: #fff;
    padding: 80px 0;

    h2 {
        font-size: 49px;
        color: #242424;
        margin: 24px 0;
        text-align: center;
    }

    p {
        font-size: 22px;
        color: #555;
        text-align: center;
    }

    #book_menu_list {
        width: 1200px;
        margin: 80px auto 0;
        

        #menu_button {
            display: flex;
            width: 400px;
            height: 50px;
            justify-content: center;
            align-items: center;

            li {
                width: 20%;
                height: 30px;
                border: 1px solid black;
                border-radius: 20px;
                text-align: center;
                margin-right: 8px;
                font-size: 14px;
                line-height: 30px;
                color: #242424;
                cursor: pointer;
                font-weight: 600;
                
                &:hover,&.act{color: white; background-color: black;} 
                
            }

        
            

          

        }
        #book_list_box{
            height: 327px;
            margin: 40px 0;
            position: relative;

            .book_menu_box:nth-of-type(5),.book_menu_box:nth-of-type(2),.book_menu_box:nth-of-type(3),.book_menu_box:nth-of-type(4){display: none;}
          
            ul{
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 327px;
                position: absolute;
                li{
                    width: 14.2%;
                    margin-right: 15px;

                    h3{
                        font-size: 16px;
                        color: #242424;
                        margin: 0 0 5px;
                        
                    }

                    p{
                        font-size: 14px;
                        color: #171717;
                        text-align: left;
                      
                    }
                    img{width: 100%;}

                }
            }
        }

    }
}

