#book_Page{
    width: 100%;
    height: 1050px;
    background-color: #ddd;
    padding: 80px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    h2{font-size: 49px;
        color: #242424;
    }
}