#challenge_Page {
    width: 100%;
    height: 1350px;
    background-color: #f7f7f7;
    padding: 80px 0;

    h2 {
        font-size: 49px;
        color: #242424;
        text-align: center;
        margin: 24px 0;
        transform: translateY(100px);
        transition: 2s;
        opacity: 0;
    }

    p {
        font-size: 22px;
        color: #555;
        margin: 24px 0;
        text-align: center;
        transform: translateY(100px);
        transition: 2s;
        opacity: 0;
    }

    #challenge_box{
        width: 1060px;
        height: 568px;
        margin: 80px auto 0;
        position: relative;
        background-image: url(../img/challenge.png);
        background-size: cover;
        background-position: center;
        h2{
            font-size: 40px;
            color: #171717;
            text-align: center;
           padding: 48px 0 0;
            
        }

        p{
            font-size: 21px;
            color: #333;
            text-align: center;
            
        }
    }
     
    #life{
        width: 1090px;
        height: 450px;
        margin: 30px auto;
        ul{
            display: flex;
            justify-content: space-around;

            li:nth-of-type(1){background-image: url(../img/challenge2.png);}

            li:nth-of-type(2){background-image: url(../img/challenge3.png);}

            li:nth-of-type(3){background-image: url(../img/challenge4.png);}

            li{
                width: 33%;
                height: 410px;
                border-radius: 20px;
                background-color: #ddd;
                margin: 0 15px;
                background-position: center;
                background-size: cover;

            }
        }
    }

}

