header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
        width: 200px;
        height: 70px;
        display: flex;
        align-items: center;
        padding-left: 20px;

        img {
            width: 30%;
            height: 35%;
        }
    }

    ul {
        width: 450px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-right: 20px;
    }

    li {
        cursor: pointer;
    }

    li:nth-of-type(4) {
        background-color: black;
        width: 80px;
        height: 30px;
        border-radius: 15px;
        text-align: center;
        line-height: 30px;

        a {
            color: white;
        }

    }

}

