#Mony_Page {
    width: 100%;
    height: 770px;
    background-color: #FFEB60;
    display: flex;
    flex-direction: column;
    justify-content: center;



    #Mony_H {
        color: #242424;
        font-size: 49px;
        text-align: center;
        margin: 32px 0 0 0;
    }

    #Mony_P {
        color: #555;
        font-size: 22px;
        text-align: center;
        font-weight: 500;
        margin: 32px 0 80px 0;

    }

    #Mony_box {
        width: 1440px;
        height: 310px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding: 0 0px;

        .Mony_list {
            width: 255px;
            height: 250px;
            background-color: #fff;
            border-radius: 20px;
            margin: 0 20px;
            display: flex;
            flex-direction: column;
            padding: 32px;

            strong {
                font-size: 20px;
                color: #242424;
            }

            p {
                font-size: 40px;
                color: #242424;
                font-family: SpoqaHanSansNeo, Apple SD Gothic Neo, Malgun Gothic, sans-serif;
                font-weight: 900;
                margin: 5px 0;

                span {
                    font-size: 24px;
                    color: #242424;
                    font-weight: 300;


                }
            }

            .Mony300 {
                font-weight: 300;
                font-size: 20px;
                color: #6f6f6f;
                display: flex;
                padding-left: 20px;
                align-items: center;
                text-decoration: line-through;

                img {
                    width: 60px;
                    height: 30px;
                    margin-left: 10px;
                }
            }


            #Mony_box_P {
                font-size: 14px;
                color: #6F6F6F;
            }

        }

        #Mony_list_box {
            width: 327px;
            height: 309px;
            margin: 0 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {
                display: flex;
                align-items: center;
                font-size: 16px;
                color: #242424;
                margin-bottom: 20px;
                font-weight: 700;
                line-height: 20px;

                img {
                    width: 70px;
                    height: 70px;
                    margin-right: 25px;
                }
                
                &:nth-of-type(1){border-bottom: 1px solid white; padding-bottom: 20px;}
            }

        }
    }

}

