#platform {
    width: 100%;
    height: 800px;
    background-color: #ffeb60;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0 70px;


    h2 {
        text-align: center;
        font-size: 49px;
        color: #242424;
        transform: translateY(100px);
        transition: 2s;
        opacity: 0;
      
    }

    #platform_top_p{
        font-size: 22px;
        color: #555;
        width: 100%;
        text-align: center;
        line-height: -160%;
        transform: translateY(100px);
        transition: 2s;
        opacity: 0;
    }

    #form_box1 {
        width: 790px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        padding-bottom: 32px;
        margin: 59px auto 0;
        

        li {
          
            
            background-color: #fff;
            border-radius: 20px;
            padding: 32px;
         

            div {
                width: 100%;
                font-size: 24px;
                display: flex;
                justify-content: space-between;
                font-weight: bold;
            }

            p {
                width: 100%;
                font-size: 14px;
                color: #555;
            }

            img {
               width: 35px;
               height: 35px;
               
            }
            span{font-weight: 700;}
        }
    }

    #form_box2 {
        background-color: #ffe06b;
        width: 744px;
        position: relative;
        border-radius: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4px;
        padding: 20px 26px 16px;

        li {
            font-size: 12px;
            color: #aa8525;
        }

        .list_style:nth-of-type(1):before {
            position: absolute;
            top: 28px;
            left: 15px;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: #aa8525;
            content: "";
        }

        .list_style:nth-of-type(2):before {
            position: absolute;
            top: 28px;
            left: 390px;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: #aa8525;
            content: "";
        }

        .list_style:nth-of-type(3):before {
            position: absolute;
            top: 49px;
            left: 15px;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: #aa8525;
            content: "";
        }

        .list_style:nth-of-type(4):before {
            position: absolute;
            top: 49px;
            left: 390px;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background-color: #aa8525;
            content: "";
        }


    }

}

