#QA_Page{
    width: 100%;
    height: 100%;
    background-color: #FFEB60;

    #QA_box{
        width: 1440px;
   
        margin: 0 auto;
        padding: 80px 0;

        h2{
            font-size: 49px;
            color: #242424;
            text-align: center;
        }

        #QA_list_box{
            max-width: 920px;
            margin: 65px auto 0;

            ul{
              
                width: 920px;
                li{
                    
                    background-color: #fff;
                    border-radius: 20px;
                    margin-bottom: 15px;
                    font-weight: 700;
                    padding: 14px 24px 1px;
                
                   
                    p{
                        padding-bottom: 16px;
                        width: 100%;
                        font-size: 20px;
                    color: #242424;
                    position: relative; 

                    img{
                        width: 25px;
                        height: 25px;
                        cursor: pointer;
                        position: absolute;
                        top: 5%;
                        left: 97%;
                    }
                    
                  
                  
                        }

                        .QA_icon.active{transform: rotate(180deg);}

                            ul{
                                width: 100%;
                                border-top: 1px solid black;
                                padding: 16px 0;
                                display: none;

                                li{
                                    width: 90%;
                                    color: #555;
                                    font-size: 16px;
                                    padding: 4px 0 0;
                                    margin: 0 0;

                                    b{
                                        padding: 0 0;
                                    }
                                   

                                }
                            }
                        
                 

                }
            }

        }
    }
}

