@charset "utf-8";


* {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

li,
ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

