@charset "utf-8";


* {
    margin: 0;
    padding: 0;
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    
}

li,
ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#wrap{
    width: 100%;
    height: 100%;
    position: relative;

    #top_scroll{
        width: 450px;
        height: 56px;
        border-radius: 25px;
        background-color: black;
        display: flex;
        align-self: center;
        justify-content: center;
        position: fixed;
        top: 92%;
        left: 38.2%;
        z-index: 100;
        box-sizing: content-box;
        box-shadow: 0 4px 12px rgb(0,0,0,.16),4px 8px 28px rgb(0,0,0,.08);
        a{
            color: #fff;
            font-size: 16px;
            line-height: 55px;
        }
    }
}
