#best_seller {
    width: 100%;
    height: 2200px;
    background-color: #fff;
    padding: 80px 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    #text_box {
        h2 {
            text-align: center;
            color: #242424;
            font-size: 49px;
            margin-bottom: 24px;
        }

        p {
            text-align: center;
            color: #555;
            font-size: 22px;

        }
    }
    .str {
        margin: 16px 0;
        padding: 24px 0;
        
        strong {
        font-size: 20px;
       
        
    }
}

    #seller_box {
        max-width: 1150px;
        margin: 0 auto;

        

        .seller_list {
            ul {
                display: flex;
                justify-content: center;
            }

            li {
                width: 14.2%;
                padding: 16px 24px 0 0;

                img {
                    width: 100%;
                   
                    margin: 3px 0;
                }

                h3 {
                    font-size: 16px;
                    margin: 3px 0;
                }

                p{
                    color: #6f6f6f;
                    font-size: 14px;
                    margin: 3px 0;
                }
            }
        }
    }
}

