#video_Page{
    width: 100%;
    height: 660px;
    padding: 80px 0 120px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    h2{
        width: 100%;
        color: #242424;
        font-size: 49px;
        margin: 0 0  24px 0;
        text-align: center;
        
    }

    p{
        width: 100%;
        color: #555;
        font-size: 22px;
        text-align: center;
        padding-bottom: 50px;
    }

    #video_box{

        width: 730px;
        height: 410px;

    video{width: 100%; height: 100%;}

    }   

}

