header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}
header div {
  width: 200px;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
header div img {
  width: 30%;
  height: 35%;
}
header ul {
  width: 450px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 20px;
}
header li {
  cursor: pointer;
}
header li a {
  color: #242424;
}
header li:nth-of-type(4) {
  background-color: black;
  width: 80px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
}
header li:nth-of-type(4) a {
  color: white;
}

footer {
  width: 1440px;
  height: 250px;
  background-color: #fff;
  border: 1px solid #f7f7f7;
  margin: 0 auto;
}
footer #footer_box {
  max-width: 1440px;
  margin: 0 auto;
  padding: 24px 16px 34px;
}
footer #footer_box #footer_box_top {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer #footer_box #footer_box_top h1 {
  font-size: 16px;
  color: #242424;
  font-weight: 700;
}
footer #footer_box #footer_box_top a img {
  width: 30px;
  height: 30px;
}
footer button {
  font-size: 10px;
  color: #a5a5a5;
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}
footer button img {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}
footer #footer_btn_UP {
  display: none;
}
footer #footer_btn_UP button {
  font-size: 10px;
  color: #a5a5a5;
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}
footer #footer_btn_UP button img {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}
footer #footer_btn_UP ul {
  display: flex;
}
footer #footer_btn_UP ul li {
  font-size: 10px;
  color: #a5a5a5;
  margin-right: 10px;
}
footer #footer_btn_UP #footer_ul_last {
  margin-top: 15px;
}
footer .foot_bottom ul {
  display: flex;
}
footer .foot_bottom ul li {
  font-size: 12px;
  color: #6f6f6f;
  display: flex;
  align-items: center;
  margin-right: 15px;
}
footer .foot_bottom ul li img {
  width: 10px;
  height: 10px;
}
footer .foot_bottom ul li:nth-of-type(2) {
  font-weight: 700;
}
footer p {
  font-size: 10px;
  color: #6f6f6f;
  margin-top: 20px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "SpoqaHanSansNeo-Regular";
  box-sizing: border-box;
}

li,
ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "AppleSDGothicNeoL00";
  src: url("fonts/AppleSDGothicNeoL.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
#wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

#main_Page {
  width: 1440px;
  height: 470px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #ddd;
  justify-content: center;
  align-self: center;
  padding-top: 70px;
  border: 1px 1px 12px 1px solid #f7f7f7;
  border-bottom: 12px solid #f7f7f7;
}
#main_Page #main_img {
  width: 240px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-top: 20px;
}
#main_Page #main_img img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  box-shadow: 12px 8px 24px rgba(0, 0, 0, 0.2), 4px 8px 8px rgba(0, 0, 0, 0.1), 0 0 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}
#main_Page #main_Tag {
  width: 1210px;
  height: 350px;
  margin-top: 20px;
}
#main_Page #main_Tag #main_tag_h {
  width: 90%;
  height: 30px;
  padding-left: 30px;
}
#main_Page #main_Tag #main_tag_h h3 {
  font-size: 20px;
  font-weight: 700;
}
#main_Page #main_Tag #main_tag_p {
  width: 90%;
  height: 30px;
  padding-left: 30px;
  font-size: 12px;
  color: #8b8b8b;
}
#main_Page #main_Tag #main_list_u {
  background-color: #FAFAF6;
  width: 95%;
  height: 90px;
  border-radius: 20px;
  margin: 200px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main_Page #main_Tag #main_list_u li ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main_Page #main_Tag #main_list_u li ul li {
  position: relative;
  display: flex;
  justify-content: center;
}
#main_Page #main_Tag #main_list_u li ul li img {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
#main_Page #main_Tag #main_list_u li ul li .u_l_img:nth-of-type(1) {
  position: absolute;
  top: 0;
  left: 30%;
}
#main_Page #main_Tag #main_list_u li ul li .u_l_img:nth-of-type(2) {
  position: absolute;
  top: 0;
  left: 40%;
}
#main_Page #main_Tag #main_list_u li ul li .u_l_img:nth-of-type(3) {
  position: absolute;
  top: 0;
  left: 50%;
}
#main_Page #main_Tag #main_list_u li ul li .u_l_text {
  font-size: 10px;
  color: #8b8b8b;
  margin: 4px 0;
}
#main_Page #main_Tag #main_list_u li ul li strong {
  font-weight: 700;
  font-size: 14px;
}
#main_Page #main_Tag #main_list_u li:nth-of-type(2n-1) {
  width: 33.3%;
}

#book_title_Page {
  max-width: 1440px;
  height: 112px;
  border: 1px solid #f7f7f7;
  padding: 30px;
  margin: 0 auto;
  box-sizing: border-box;
}
#book_title_Page h3 {
  font-weight: 700;
  font-size: 16px;
}

#Mania {
  width: 1440px;
  height: 350px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 50px;
  border: 2px solid #f7f7f7;
  border-bottom: 12px solid #f7f7f7;
  display: flex;
  position: relative;
}
#Mania #mania_u {
  display: flex;
}
#Mania #mania_u li {
  font-size: 12px;
  color: #8b8b8b;
  position: absolute;
  top: 0;
  left: 0;
}
#Mania #mania_u li:nth-of-type(1) {
  top: 295px;
  left: 20px;
}
#Mania #mania_u li:nth-of-type(2) {
  top: 295px;
  left: 170px;
}
#Mania #mania_u li:nth-of-type(3) {
  top: 295px;
  left: 360px;
}
#Mania #mania_u li:nth-of-type(4) {
  top: 150px;
  left: 0px;
  transform: rotate(-90deg);
}
#Mania #mania_u li:nth-of-type(5) {
  top: 50px;
  left: 25px;
  transform: rotate(-90deg);
}
#Mania #mania_u li:nth-of-type(6) {
  top: 155px;
  left: 26.1%;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(79, 192, 104);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}
#Mania #mania_u li:nth-of-type(6) p {
  width: 15px;
  height: 15px;
  background: white;
  border-radius: 50%;
}
#Mania #mania_u li:nth-of-type(7) {
  top: 15px;
  left: 25px;
  display: flex;
  align-self: center;
  font-size: 14px;
  color: #242424;
}
#Mania #mania_u li:nth-of-type(7) img {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}
#Mania .mania_tag_list2 {
  width: 19%;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 20px;
  position: absolute;
  z-index: 10;
  top: 51px;
  left: 189px;
  background: white;
  display: none;
}
#Mania .mania_tag_list2 p {
  color: #4FC068;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
#Mania .mania_tag_list2 p .top_icon {
  color: #c1c1c1;
  font-size: 10px;
  line-height: 12px;
  padding: 0 2px;
}
#Mania .mania_tag_list2 p span {
  font-size: 12px;
  font-weight: 100;
}
#Mania .mania_tag_list2 .mania_tag_list_p {
  font-size: 12px;
  color: #6f6f6f;
  display: flex;
  align-items: center;
}
#Mania .mania_tag_list2 .mania_tag_list_p img {
  width: 15px;
  height: 15px;
}
#Mania .mania_tag_list2 .mania_tag_list_p span {
  font-size: 12px;
  color: #6f6f6f;
  line-height: 20px;
  display: flex;
  align-items: center;
}
#Mania .mania_tag_list2 .mania_tag_list_p2 {
  font-size: 14px;
  color: #8b8b8b;
  font-weight: 700;
}
#Mania .mania_tag_list2 .mania_tag_list_p2 .top_icon2 {
  color: #c1c1c1;
  font-size: 10px;
  line-height: 12px;
  padding: 0 8px;
}
#Mania .mania_tag_list2 .mania_tag_list_p2 .mania_tag_list_sp {
  font-size: 14px;
  color: #8b8b8b;
  font-weight: 400;
}
#Mania #mania_box {
  width: 362px;
  height: 242px;
  display: flex;
  flex-wrap: wrap;
}
#Mania #mania_box .mania_list {
  width: 50%;
  height: 50%;
  border: 1px solid #ddd;
  box-sizing: border-box;
  color: #dfdfdf;
  font-size: 32px;
  font-family: 700;
  opacity: 0.5;
  padding: 5px;
}
#Mania #mania_box .mania_list:nth-of-type(2) {
  padding-left: 60px;
}
#Mania #mania_box .mania_list:nth-of-type(3) {
  padding-top: 70px;
}
#Mania #mania_box .mania_list:nth-of-type(4) {
  padding: 70px 0 0 60px;
  color: #4FC068;
  background: linear-gradient(135deg, rgba(79, 192, 104, 0.1) 0%, rgba(79, 192, 104, 0) 100%);
}
#Mania #mania_tag {
  width: 1050px;
  height: 242px;
  margin-left: 20px;
}
#Mania #mania_tag .mania_tag_list {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 20px;
}
#Mania #mania_tag .mania_tag_list p {
  color: #4FC068;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
}
#Mania #mania_tag .mania_tag_list p .top_icon {
  color: #c1c1c1;
  font-size: 10px;
  line-height: 12px;
  padding: 0 2px;
}
#Mania #mania_tag .mania_tag_list p span {
  font-size: 12px;
  font-weight: 100;
}
#Mania #mania_tag .mania_tag_list .mania_tag_list_p {
  font-size: 12px;
  color: #6f6f6f;
  display: flex;
  align-items: center;
}
#Mania #mania_tag .mania_tag_list .mania_tag_list_p img {
  width: 15px;
  height: 15px;
}
#Mania #mania_tag .mania_tag_list .mania_tag_list_p span {
  font-size: 12px;
  color: #6f6f6f;
  line-height: 20px;
  display: flex;
  align-items: center;
}
#Mania #mania_tag .mania_tag_list .mania_tag_list_p2 {
  font-size: 14px;
  color: #8b8b8b;
  font-weight: 700;
}
#Mania #mania_tag .mania_tag_list .mania_tag_list_p2 .top_icon2 {
  color: #c1c1c1;
  font-size: 10px;
  line-height: 12px;
  padding: 0 8px;
}
#Mania #mania_tag .mania_tag_list .mania_tag_list_p2 .mania_tag_list_sp {
  font-size: 14px;
  color: #8b8b8b;
  font-weight: 400;
}
#Mania #mania_tag .mania_tag_list:nth-of-type(1) {
  height: 102px;
  margin-bottom: 15px;
}
#Mania #mania_tag .mania_tag_list:nth-of-type(2) {
  height: 120px;
}

#age {
  max-width: 1440px;
  height: 320px;
  background-color: #fff;
  margin: 0 auto;
  border: 1px solid #f7f7f7;
  border-bottom: 12px solid #f7f7f7;
}
#age #age_tag_h {
  padding: 25px;
  font-size: 16px;
  color: #242424;
  display: flex;
  align-items: center;
}
#age #age_tag_h img {
  width: 17px;
  height: 17px;
  margin-left: 5px;
}
#age #age_box {
  width: 1440px;
  height: 260px;
  display: flex;
  justify-content: center;
}
#age #age_box #age_bar {
  width: 660px;
  height: 230px;
  background-color: #fff;
  margin-right: 15px;
  border-radius: 15px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.06), 2px 2px 10px rgba(0, 0, 0, 0.04);
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #555;
  font-size: 14px;
  line-height: 15px;
  position: relative;
}
#age #age_box #age_bar div {
  width: 46%;
  height: 16px;
  background-color: rgba(176, 179, 188, 0.1);
  position: relative;
}
#age #age_box #age_bar div span {
  font-size: 12px;
  position: absolute;
}
#age #age_box #age_bar div p {
  position: absolute;
  height: 16px;
}
#age #age_box #age_bar div:nth-of-type(1) p {
  width: 1%;
  left: 99%;
}
#age #age_box #age_bar div:nth-of-type(3) p {
  width: 8%;
  left: 92%;
}
#age #age_box #age_bar div:nth-of-type(5) p {
  width: 14%;
  left: 86%;
}
#age #age_box #age_bar div:nth-of-type(7) p {
  width: 11%;
  left: 89%;
}
#age #age_box #age_bar div:nth-of-type(9) p {
  width: 7%;
  left: 93%;
}
#age #age_box #age_bar div:nth-of-type(11) p {
  width: 2%;
  left: 98%;
}
#age #age_box #age_bar div:nth-of-type(2) p {
  width: 2%;
  left: 0%;
}
#age #age_box #age_bar div:nth-of-type(4) p {
  width: 30%;
  left: 0%;
}
#age #age_box #age_bar div:nth-of-type(6) p {
  width: 36%;
  left: 0%;
}
#age #age_box #age_bar div:nth-of-type(8) p {
  width: 20%;
  left: 0%;
}
#age #age_box #age_bar div:nth-of-type(10) p {
  width: 7%;
  left: 0%;
}
#age #age_box #age_bar div:nth-of-type(12) p {
  width: 2%;
  left: 0%;
}
#age #age_box #age_bar div:nth-of-type(11) {
  margin-right: 10px;
}
#age #age_box #age_bar div:nth-of-type(12) {
  margin-left: 9px;
}
#age #age_box #age_bar div:nth-of-type(1) span {
  left: 91%;
}
#age #age_box #age_bar div:nth-of-type(3) span {
  left: 84%;
}
#age #age_box #age_bar div:nth-of-type(5) span {
  left: 78%;
}
#age #age_box #age_bar div:nth-of-type(7) span {
  left: 82%;
}
#age #age_box #age_bar div:nth-of-type(9) span {
  left: 85%;
}
#age #age_box #age_bar div:nth-of-type(11) span {
  left: 91%;
}
#age #age_box #age_bar div:nth-of-type(2) span {
  left: 4%;
}
#age #age_box #age_bar div:nth-of-type(4) span {
  left: 31%;
}
#age #age_box #age_bar div:nth-of-type(6) span {
  left: 38%;
}
#age #age_box #age_bar div:nth-of-type(8) span {
  left: 21%;
}
#age #age_box #age_bar div:nth-of-type(10) span {
  left: 8%;
}
#age #age_box #age_bar div:nth-of-type(12) span {
  left: 3%;
}
#age #age_box #age_bar div .blue_bar {
  background-color: #84b4ff;
  width: 10%;
  top: 0;
  left: 90%;
  border-radius: 20px 0px 0px 20px;
}
#age #age_box #age_bar div .red_bar {
  background-color: #ff898f;
  width: 10%;
  top: 0;
  left: 0%;
  border-radius: 0 20px 20px 0;
}
#age #age_box #age_bar div:nth-of-type(2n) {
  border-radius: 0 20px 20px 0;
}
#age #age_box #age_bar div:nth-of-type(2n-1) {
  border-radius: 20px 0px 0px 20px;
}
#age #age_box #age_bar #blue_bor {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #84b4ff;
  position: absolute;
  top: 88%;
  left: 44%;
}
#age #age_box #age_bar #red_bor {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #ff898f;
  position: absolute;
  top: 88%;
  left: 54%;
}
#age #age_box #age_bar #blue_bor_p {
  font-size: 12px;
  color: #6f6f6f;
  position: absolute;
  top: 87.5%;
  left: 40%;
}
#age #age_box #age_bar #red_bor_p {
  font-size: 12px;
  color: #6f6f6f;
  position: absolute;
  top: 87.5%;
  left: 57%;
}
#age #age_box #age_bar #age_pu_tag {
  font-size: 12px;
  color: #6f6f6f;
  position: absolute;
  top: 87.5%;
  left: 90%;
}
#age #age_box #age_Mnugu {
  width: 660px;
  height: 230px;
}
#age #age_box #age_Mnugu ul #age_mnugu_li1 {
  width: 660px;
  height: 110px;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#age #age_box #age_Mnugu ul #age_mnugu_li1 ul {
  display: flex;
  flex-direction: column;
}
#age #age_box #age_Mnugu ul #age_mnugu_li1 ul li {
  color: #6f6f6f;
  font-size: 16px;
  font-weight: 400;
}
#age #age_box #age_Mnugu ul #age_mnugu_li1 ul li ul {
  display: flex;
  flex-direction: row;
}
#age #age_box #age_Mnugu ul #age_mnugu_li1 ul li ul li {
  margin-top: 10px;
}
#age #age_box #age_Mnugu ul #age_mnugu_li1 ul li ul li:nth-of-type(1) {
  font-weight: 700;
  color: #242424;
}
#age #age_box #age_Mnugu ul #age_mnugu_li1 ul li ul li:nth-of-type(2) {
  font-weight: 400;
  color: #6f6f6f;
  font-size: 12px;
  line-height: 43px;
  margin: 0 4px;
}
#age #age_box #age_Mnugu ul #age_mnugu_li1 ul li ul li:nth-of-type(3) {
  font-weight: 400;
  color: #242424;
  margin-right: 25px;
}
#age #age_box #age_Mnugu ul #age_mnugu_li1 ul li ul li:nth-of-type(4) {
  font-weight: 700;
  color: #242424;
}
#age #age_box #age_Mnugu ul #age_mnugu_li1 ul li ul li:nth-of-type(5) {
  font-weight: 400;
  color: #6f6f6f;
  font-size: 12px;
  line-height: 43px;
  margin: 0 4px;
}
#age #age_box #age_Mnugu ul #age_mnugu_li1 ul li ul li:nth-of-type(6) {
  font-weight: 400;
  color: #242424;
  margin-right: 25px;
}
#age #age_box #age_Mnugu ul #age_mnugu_li2 {
  width: 660px;
  height: 111px;
  background: #f7f7f7;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#age #age_box #age_Mnugu ul #age_mnugu_li2 li {
  color: #242424;
  font-weight: 400;
  text-align: center;
}

#summary {
  position: relative;
  max-width: 1440px;
  height: 470px;
  border: 2px solid #f7f7f7;
  margin: 0 auto;
  border-bottom: 12px solid #f7f7f7;
}
#summary h3 {
  padding: 24px 0 0 24px;
  font-size: 16px;
  color: #242424;
}
#summary .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
#summary .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}
#summary .swiper-slide img {
  display: block;
  width: 100%;
}
#summary .swiper-slide img .swiper-button-prev {
  margin-left: 950px;
  content: "prev";
}

#introduction {
  width: 1440px;
  height: auto;
  margin: 0 auto;
  border: 1px solid #f7f7f7;
  padding: 24px 0px 0px;
  position: relative;
}
#introduction h3 {
  color: #242424;
  font-size: 18px;
  padding: 0 24px 24px;
}
#introduction #introduction_tag {
  font-size: 14px;
  color: #555;
  height: 78px;
  overflow: hidden;
  position: relative;
  padding: 0 24px;
}
#introduction #int_btn {
  position: absolute;
  top: 55%;
  left: 95%;
  background: none;
  border: none;
  color: #A451F7;
  font-size: 14px;
  cursor: pointer;
}
#introduction #int_btn2 {
  display: none;
  position: absolute;
  top: 80%;
  left: 95%;
  background: none;
  border: none;
  color: #A451F7;
  font-size: 14px;
  cursor: pointer;
}
#introduction #introduction_list {
  width: 100%;
  height: 100px;
  background-color: #fafaf6;
  margin-top: 70px;
}
#introduction #introduction_list ul {
  height: 100%;
  display: flex;
}
#introduction #introduction_list ul li {
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid #ddd;
  margin: 10px 0;
}
#introduction #introduction_list ul li p {
  color: #8b8b8b;
  font-size: 12px;
  margin-bottom: 18px;
}
#introduction #introduction_list ul li a {
  font-size: 14px;
  color: #555;
  text-decoration: underline;
  font-weight: 700;
}
#introduction #introduction_list ul li:nth-of-type(2) a, #introduction #introduction_list ul li:nth-of-type(3) a, #introduction #introduction_list ul li:nth-of-type(5) a, #introduction #introduction_list ul li:nth-of-type(6) a, #introduction #introduction_list ul li:nth-of-type(7) a {
  text-decoration: none;
}
#introduction #introduction_list ul li:nth-of-type(2n) {
  color: #ddd;
  font-size: 30px;
}

#evaluation {
  width: 1440px;
  padding: 24px 24px 0 24px;
  margin: 0 auto;
  border: 1px solid #f7f7f7;
}
#evaluation div {
  border-bottom: 1px solid #eee;
  padding: 20px 0;
}
#evaluation div h3 {
  color: #242424;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 0;
}
#evaluation div h3 span {
  color: #ffb094;
}
#evaluation div p {
  color: #242424;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
#evaluation div p img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#evaluation div p .fot:nth-of-type(2) {
  display: none;
}
#evaluation div ul {
  padding-left: 40px;
}
#evaluation div ul li {
  position: relative;
  color: #555;
  font-size: 14px;
}
#evaluation div ul li img {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0;
  left: -50px;
  border-radius: 50%;
}
#evaluation div ul #evaluation_li_tag p, #evaluation div ul #evaluation_li_tag2 p {
  color: #555;
  font-size: 14px;
  font-weight: 300;
}
#evaluation div #evaluation_u4 li .eva_p1 {
  color: #555;
  font-size: 12px;
}
#evaluation div #evaluation_u4 li span {
  color: #8b8b8b;
  font-size: 10px;
}
#evaluation div #evaluation_u4 li .eva_p2 {
  color: #555;
  font-size: 14px;
}
#evaluation div #evaluation_u4 li .eva_p3 {
  color: #8b8b8b;
  font-size: 10px;
}
#evaluation div .evaluation_u {
  display: none;
}
#evaluation #inp_box {
  border: none;
  position: relative;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
#evaluation #inp_box img {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0;
  left: -10px;
  border-radius: 50%;
}
#evaluation #inp_box input {
  width: 1250px;
  height: 55px;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 0 10px;
  font-size: 16px;
}
#evaluation #inp_box button {
  width: 64px;
  height: 57px;
  background-color: #a3a3a3;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 15px;
  border: none;
}

#banner {
  width: 1440px;
  height: 100px;
  background-color: #4a67cc;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
#banner img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 60%;
}
#banner div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
#banner div p {
  color: #fff;
}
#banner div p:nth-of-type(1) {
  font-size: 16px;
}
#banner div p:nth-of-type(2) {
  font-size: 14px;
}

#last_book_list {
  width: 1440px;
  height: 440px;
  border: 1px solid #f7f7f7;
  margin: 0 auto;
  overflow: hidden;
}
#last_book_list #last_book_h {
  color: #242424;
  font-size: 16px;
  font-weight: 700;
  padding: 24px;
}
#last_book_list ul {
  width: 4980px;
  display: flex;
  padding: 12px;
}
#last_book_list ul li {
  width: 150px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 10px;
}
#last_book_list ul li img {
  width: 90%;
  height: 80%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}
#last_book_list ul li h3 {
  font-size: 16px;
  color: #242424;
  margin-bottom: 20px;
}
#last_book_list ul li p {
  font-size: 14px;
  color: #6f6f6f;
}