#age{
    max-width: 1440px;
    height: 320px;
    background-color: #fff;
    margin: 0 auto;
    border: 1px solid #f7f7f7;
    border-bottom: 12px solid #f7f7f7;

    #age_tag_h{
        padding: 25px ;
        font-size: 16px;
        color: #242424;
        display: flex;
        align-items: center;

        img{width: 17px; height: 17px; margin-left: 5px;}
    }

    #age_box{
        width: 1440px;
        height: 260px;
        display: flex;
        justify-content: center;

        #age_bar{
            width: 660px;
            height: 230px;
            background-color: #fff;
            margin-right: 15px;
            border-radius: 15px;
            box-shadow: 2px 2px 20px rgba(0,0,0,.06), 2px 2px 10px rgba(0,0,0,.04);
            padding: 24px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            color: #555; font-size: 14px; 
            line-height: 15px;
            position: relative;

            div{width: 46%; height: 16px;background-color: rgb(176,179,188,.1); position: relative;
                
                span{font-size: 12px; position: absolute;}

                p{position: absolute; height: 16px;
                   
                }

                &:nth-of-type(1) p{width: 1%; left: 99%;}
                &:nth-of-type(3) p{width: 8%; left: 92%;}
                &:nth-of-type(5) p{width: 14%; left: 86%;}
                &:nth-of-type(7) p{width: 11%; left: 89%;}
                &:nth-of-type(9) p{width: 7%; left: 93%;}
                &:nth-of-type(11) p{width: 2%; left: 98%;}

                &:nth-of-type(2) p{width: 2%; left: 0%;}
                &:nth-of-type(4) p{width: 30%; left: 0%;}
                &:nth-of-type(6) p{width: 36%; left: 0%;}
                &:nth-of-type(8) p{width: 20%; left: 0%;}
                &:nth-of-type(10) p{width: 7%; left: 0%;}
                &:nth-of-type(12) p{width: 2%; left: 0%;}
                &:nth-of-type(11){margin-right: 10px;}
                &:nth-of-type(12) {margin-left: 9px;}




                &:nth-of-type(1) span{ left: 91%;}
                &:nth-of-type(3) span{ left: 84%;}
                &:nth-of-type(5) span{ left: 78%;}
                &:nth-of-type(7) span{ left: 82%;}
                &:nth-of-type(9) span{ left: 85%;}
                &:nth-of-type(11) span{ left: 91%;}

                &:nth-of-type(2) span{ left: 4%;}
                &:nth-of-type(4) span{ left: 31%;}
                &:nth-of-type(6) span{ left: 38%;}
                &:nth-of-type(8) span{ left: 21%;}
                &:nth-of-type(10) span{ left: 8%;}
                &:nth-of-type(12) span{ left: 3%;}
               
                

               
                
               .blue_bar{ background-color: #84b4ff; width: 10%;  top: 0; left: 90%; border-radius: 20px 0px 0px 20px;}

               


               .red_bar{background-color: #ff898f; width: 10%; top:0; left: 0%;border-radius: 0 20px 20px 0 }
            
            
            }
            div:nth-of-type(2n){border-radius: 0 20px 20px 0}

            div:nth-of-type(2n-1){border-radius: 20px 0px 0px 20px}

            #blue_bor{width: 13px; height: 13px ;border-radius: 50%; background: #84b4ff; position: absolute; top: 88%; left: 44%;}

            #red_bor{width: 13px; height: 13px ;border-radius: 50%; background: #ff898f; position: absolute; top: 88%; left: 54%;}

            #blue_bor_p{font-size: 12px; color: #6f6f6f; position: absolute; top: 87.5%; left: 40%;}

            #red_bor_p{font-size: 12px; color: #6f6f6f; position: absolute; top: 87.5%; left: 57%;}
            #age_pu_tag{font-size: 12px; color: #6f6f6f; position: absolute; top: 87.5%; left: 90%;}

          
        }

        #age_Mnugu{
            width: 660px;
            height: 230px;
          

            ul{
                #age_mnugu_li1{
                    width: 660px;
                    height: 110px;
                    border: 1px solid #ddd;
                    border-radius: 20px;
                    margin-bottom: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    ul{
                        display: flex;
                        flex-direction: column;

                        li{
                            color: #6f6f6f;
                            font-size: 16px;
                            font-weight: 400;
                        ul{
                            
                            display: flex;
                            flex-direction: row;

                        li{ 
                            margin-top: 10px;

                            &:nth-of-type(1){font-weight: 700; color: #242424;}
                            &:nth-of-type(2){font-weight: 400; color: #6f6f6f; font-size: 12px; line-height: 43px; margin: 0 4px;}
                            &:nth-of-type(3){font-weight: 400; color: #242424; margin-right: 25px;}
                            &:nth-of-type(4){font-weight: 700; color: #242424;}
                            &:nth-of-type(5){font-weight: 400; color: #6f6f6f; font-size: 12px; line-height: 43px; margin: 0 4px;}
                            &:nth-of-type(6){font-weight: 400; color: #242424; margin-right: 25px;}
                        }
                        
                       
                    }
                }
                    }
                }

                #age_mnugu_li2{
                    width: 660px;
                    height: 111px;
                   background: #f7f7f7;
                    border-radius: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    li{
                        color: #242424;
                        font-weight: 400;
                        text-align: center;
                    }
                }
            
            }
        }

    }
}

