#age{
    max-width: 1440px;
    height: 320px;
    background-color: antiquewhite;
    margin: 0 auto;
    border: 1px solid #f7f7f7;
    border-bottom: 12px solid #f7f7f7;

    #age_tag_h{
        padding: 25px;
        font-size: 16px;
        color: #242424;
        display: flex;
        align-items: center;

        img{width: 17px; height: 17px; margin-left: 5px;}
    }
}