#evaluation{
    max-width: 1440px;
    padding: 24px 24px 0 24px;
    margin: 0 auto;
    border: 1px solid #f7f7f7;

    div{
        border-bottom: 1px solid #eee;
        padding: 20px 0;

        h3{
            color: #242424;
            font-size: 16px;
            font-weight: 700;
            padding: 15px 0;

            span{
                color: #ffb094;
            }
        }
        p{
            color: #242424;
            font-size: 18px;
            font-weight: 700;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

         

            img{
                width: 30px;
                height: 30px;
                cursor: pointer;
            }

            .fot:nth-of-type(2){display: none;}
        }

        ul{
            
            padding-left: 40px;
           
            li{
                position: relative;
                color: #555;
                font-size: 14px;
                img{width: 35px;
                    height: 35px;
                    position: absolute;
                    top: 0;
                    left: -50px;
                    border-radius: 50%;
                }
            }

            #evaluation_li_tag,#evaluation_li_tag2{
                p{
                    color: #555;
                    font-size: 14px; 
                    font-weight: 300;
                }
            }
        }

        #evaluation_u4{
            li{
                .eva_p1{
                    color: #555;
                    font-size: 12px;
                }
                span{
                    color: #8b8b8b;
                    font-size: 10px;
                }
                .eva_p2
                {
                    color: #555;
                    font-size: 14px;
                }
                .eva_p3{
                    color: #8b8b8b;
                    font-size: 10px;
                }
            }
        }

        .evaluation_u{display: none;}
       
    }

    #inp_box{
        border: none;
        position: relative;
        padding: 0 40px;
        display: flex;
        justify-content: space-between;

        img{width: 35px;
            height: 35px;
            position: absolute;
            top: 0;
            left: -10px;
            border-radius: 50%;
        }

        input{
            width: 1250px;
            height: 55px;
            border-radius: 5px;
            border: 1px solid #ddd;
            padding: 0 10px;
            font-size: 16px;
        }
        button{
            width: 64px;
            height: 57px;
            background-color: #a3a3a3;
            color: #fff;
            border-radius: 10px;
            cursor: pointer;
            margin-left: 15px;
            border: none;
        }
    }
}