footer{

    max-width: 1440px;
    height: 250px;
    background-color: #fff;
    border: 1px solid #f7f7f7;
    margin: 0 auto;

    #footer_box{
        max-width: 1440px;
        margin: 0 auto;
        padding: 24px 16px 34px;

    #footer_box_top{
        max-width: 1440px;
        margin: 0 auto;
        
        display: flex;
        justify-content: space-between;

        h1{
            font-size: 16px;
            color: #242424;
            font-weight: 700;
            

        }

        a{
            img{
                width: 30px;
                height: 30px;
            }
        }
    }
}

    button{
        font-size: 10px;
        color: #a5a5a5;
        background-color: #fff;
        border: none;
        display: flex;
       align-items: center;
       cursor: pointer;
       margin-bottom: 10px;
      

        img{width: 15px;
            height: 15px;
            margin-left: 5px;
        }
    }

    #footer_btn_UP{
      display: none;

        button{
            font-size: 10px;
            color: #a5a5a5;
            background-color: #fff;
            border: none;
            display: flex;
           align-items: center;
           cursor: pointer;
           margin-bottom: 10px;
    
            img{width: 15px;
                height: 15px;
                margin-left: 5px;
            }
        }
        ul{
            display: flex;
            li{
                font-size: 10px;
                color: #a5a5a5;
                margin-right: 10px;
            }
        }
        #footer_ul_last{
            margin-top: 15px;
        }
        
    }

    .foot_bottom{
        ul{
            display: flex;
            li{
                font-size: 12px;
                color: #6f6f6f;
                display: flex;
                align-items: center;
                margin-right: 15px;

                img{width: 10px; height: 10px;}

                &:nth-of-type(2){font-weight: 700;}
            }
        }
    }

    p{
        font-size: 10px;
        color: #6f6f6f;
        margin-top: 20px;
    }

}


