#introduction{
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
    border: 1px solid #f7f7f7;
    padding: 24px 0px 0px;
    position: relative;

    h3{
      
        color: #242424;
        font-size: 16px;
        padding: 0 24px 24px;
    }

    #introduction_tag{
        font-size: 14px;
        color: #555;
        height: 78px;
        overflow: hidden;
        position: relative;
        padding: 0 24px;

        button{
            position: absolute;
            top: 72%;
            left: 95%;
            background:none;
            border: none;
            color: #A451F7;
            font-size: 14px;
            cursor: pointer;
            
        }
        button:nth-of-type(2){display: none;}
    }

  

    #introduction_list{
        width: 100%;
        height: 100px;
        background-color: #fafaf6;
        margin-top: 70px;
        ul{
            height: 100%;
            display: flex;

            li:nth-of-type(2n-1){
                width: 140px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                p{
                    color: #8b8b8b;
                    font-size: 12px;
                    margin-bottom: 18px;
                }

               

                a{
                    font-size: 14px;
                    color: #555;
                    text-decoration: underline;
                    font-weight: 700;
                }

                &:nth-of-type(2) a{text-decoration:none;}

                
            }

            

            li:nth-of-type(2n){
                color: #ddd;
                font-size: 30px;
            }
        }
    }
}

