#last_book_list{

    max-width: 1440px;
    height: 440px;
    border:1px solid #f7f7f7;
    margin: 0 auto;
    overflow: hidden;

    #last_book_h{
        color: #242424;
        font-size: 16px;
        font-weight: 700;
        padding: 24px;
    }


    ul{
        width: 4980px;
        display: flex;
        padding: 12px;
       

        li{
            width: 150px;
            height: 300px;
            display: flex;
            flex-direction: column;
            align-items: start;
            margin-right: 10px;
            
            img{

                width: 90%;
                height: 80%;
                margin-bottom: 20px;
                border: 1px solid #ddd;
                
            }
         

            h3{
                font-size: 16px;
                color: #242424;
                margin-bottom: 20px;
            }

            p{
                font-size: 14px;
                color: #6f6f6f;
            }
        }
    }
}