#main_Page {
    max-width: 1440px;
    height: 470px;
    display: flex;
    margin: 0 auto;
    border: 1px solid #ddd;
    justify-content: center;
    align-self: center;
    padding-top: 70px;
    border: 1px 1px 12px 1px solid #f7f7f7;
    border-bottom: 12px solid #f7f7f7;

    #main_img {
        width: 240px;
        height: 350px;

        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 20px;
        padding-top: 20px;

        img {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            box-shadow: 12px 8px 24px rgba(0,0,0,.2),4px 8px 8px rgba(0,0,0,.1),0 0 2px rgba(0,0,0,.24);
            border-radius: 5px;
           

        }

    }

    #main_Tag {
        width: 1210px;
        height: 350px;       
        margin-top: 20px;

        #main_tag_h {
            width: 90%;
            height: 30px;
            padding-left: 30px;
            h3{ 
                font-size: 20px;
                font-weight: 700;}
            
        }

        #main_tag_p {
            width: 90%;
            height: 30px;
            padding-left: 30px;
            font-size: 12px;
            color: #8b8b8b;
        }

        #main_list_u {
            background-color: #FAFAF6;
            width: 95%;
            height: 90px;
            border-radius: 20px;
            margin: 200px auto 0;
            display: flex;
            justify-content: center;
            align-items: center;

            li {
                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    li {
                        position: relative;
                        display: flex;
                        justify-content: center;

                        img {
                            width: 20px;
                            height: 20px;
                            border-radius: 10px;



                        }

                        .u_l_img:nth-of-type(1) {
                            position: absolute;
                            top: 0;
                            left: 30%;
                        }

                        .u_l_img:nth-of-type(2) {
                            position: absolute;
                            top: 0;
                            left: 40%;
                        }

                        .u_l_img:nth-of-type(3) {
                            position: absolute;
                            top: 0;
                            left: 50%;
                        }

                        .u_l_text {
                            font-size: 10px;
                            color: #8b8b8b;
                            margin: 4px 0;
                        }

                        strong {
                            font-weight: 700;
                            font-size: 14px;
                        }
                    }
                }
            }

            li:nth-of-type(2n-1) {
                width: 33.3%;


            }
        }
    }


}

#book_title_Page{
    max-width: 1440px;
    height: 112px;
    border: 1px solid #f7f7f7;
    padding: 30px;
    margin: 0 auto;
    box-sizing: border-box;

    h3{
        font-weight: 700;
        font-size: 16px;
    }
}

