@charset "utf-8";


* {
    margin: 0;
    padding: 0;
    font-family: 'SpoqaHanSansNeo-Regular';
    box-sizing: border-box;
   
    
}

li,
ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'AppleSDGothicNeoL00';
    src: url('fonts/AppleSDGothicNeoL.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#wrap{
    width: 100%;
    height: 100%;
    position: relative;
   

}
