#summary{

    position: relative;
    max-width: 1440px;
    height: 470px;
    border: 2px solid #f7f7f7;
    margin: 0 auto;
    border-bottom: 12px solid #f7f7f7;

    h3{
       padding: 24px 0 0 24px;
       font-size: 16px;
       color: #242424;

    }

    .swiper {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
      }
  
      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 300px;
      }
  
      .swiper-slide img {
        display: block;
        width: 100%;

        .swiper-button-prev{margin-left: 950px; content: "prev";}
      }


}

